[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
  status = status --short -uno
  pr = "!f() { gh pr list --json number,title,author,isDraft -t '{{range .}}{{.number}}\t{{.title}}\t@{{.author.login}}\t{{if .isDraft}}DRAFT{{else}}     {{end}}\n{{end}}' | gum choose | cut -f1 | xargs gh pr checkout ; }; f"
  branch = branch | cat
	cob = "checkout -b"
  nvm = reset --hard
  mnf = "!f() { git merge $@ --no-ff | egrep --color 'CONFLICT .*|$' ; }; f"
  conflicts = "!f() { git ls-files -u | cut -f 2 | sort -u ; }; f"
	long = log --graph --decorate --pretty=oneline --abbrev-commit
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	full = !"for b in $(git for-each-ref refs/heads --format='%(refname)') ; do git checkout ${b#refs/heads/} ; git pull --ff-only ; done"
	amend="commit --amend"
	uncommit="reset --soft HEAD^"
	br=branch
	cm=commit
	co=checkout
	re=restore
	sw=switch
	dif=diff
	pus=push
	pu=push
	pick=cherry-pick
	auto = "!f() { git add -A && git commit -m \"chore(autosave): $(date '+%Y-%m-%d %H:%M:%S')\" && git pull --rebase && git push; }; f"
[user]
	name = Andre L Gomes
	email = andre@andrelgomes.com
[advice]
	detachedHead = false
[pull]
	twohead = ort
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
