[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
  status = status --short -uno
  branch = branch | cat
  nvm = reset --hard
  mnf = "!f() { git merge $@ --no-ff | egrep --color 'CONFLICT .*|$' ; }; f"
  conflicts = "!f() { git ls-files -u | cut -f 2 | sort -u ; }; f"
	long = log --graph --decorate --pretty=oneline --abbrev-commit
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	full = !"for b in $(git for-each-ref refs/heads --format='%(refname)') ; do git checkout ${b#refs/heads/} ; git pull --ff-only ; done"
[user]
	name = Andre L Gomes
	email = andre@andrelgomes.com
[advice]
	detachedHead = false
[pull]
	twohead = ort
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	autoSetupRemote = true
