[color]
	ui = true
[core]
	user = "andre"
	editor = vim
[alias]
  ss = status --short -uno
  branch = branch | cat
  nvm = reset --hard
  mnf = "!f() { git merge $@ --no-ff | egrep --color 'CONFLICT .*|$' ; }; f"
  conflicts = "!f() { git ls-files -u | cut -f 2 | sort -u ; }; f"
